{$VOIDPLAYER_SITE} {
    tls internal
    reverse_proxy app:5180 {
        header_up -X-VoidPlayer-User
        header_up -X-VoidPlayer-Proxy-Token
        header_up -Authorization
    }
    log {
        output stdout
        format json
    }
}
