{$VOIDPLAYER_SITE} {
    tls internal
    basic_auth {
        import /etc/caddy/users.caddy
    }
    reverse_proxy app:5180 {
        header_up X-VoidPlayer-User {http.auth.user.id}
        header_up X-VoidPlayer-Proxy-Token {$VOIDPLAYER_PROXY_TOKEN}
        header_up -Authorization
    }
    log {
        output stdout
        format json
    }
}
